  <!-- Deaktivieren des Zoomens auf Mobilgeraeten: -->
  <meta name="viewport" content="width=device-width, initial-scale=1">


  <div class="container">
    <div class="row">
      <div class="col-4">
        <form [formGroup]="formGroupZugtiefe">
                <div class="form-group">
                    <label for="formControlZugtiefe">Depth: </label>
                    <select formControlName="formControlZugtiefe" class="form-control" >
                        <!--
                        <option disabled>Select Zugtiefe</option>
                        <option>Select Zugtiefe</option>
                        -->

                        <!--
                        <option *ngFor="let z of zugtiefeList" selected>{{z}}</option>
                        -->
                        <option value="1">1</option>
                        <option value="2">2 </option>
                        <option value="3">3</option>
                        <option value="4">4</option>
                        <option value="5" selected>5</option>
                        <option value="6">6</option>
                        <option value="7">7</option>
                    </select>
                </div>
        </form>
      </div>
      <div class="col-4">
        <form [formGroup]="formGroupWeiss">
            <div class="form-group">
                <label for="formControlWeiss">White: </label>
                <select formControlName="formControlWeiss" class="form-control" >
                    <!-- <option *ngFor="let z of weissMoeglicheSpieler">{{z}}</option> -->
                    <option value="Human" selected>Human</option>
                    <option value="Computer" >Computer</option>
                </select>
            </div>
        </form>
      </div>
      <div class="col-4">
        <form [formGroup]="formGroupSchwarz">
            <div class="form-group">
                <label for="formControlSchwarz">Black: </label>
                <select formControlName="formControlSchwarz" class="form-control" >
                    <!-- <option *ngFor="let z of schwarzMoeglicheSpieler">{{z}}</option> -->
                    <option value="Human">Human</option>
                    <option value="Computer" selected>Computer</option>
                </select>
            </div>
        </form>
      </div>
    </div>
  </div>
    <div class="mittig">
            <button (click) = "start()" type='button' class='mitPlatz'>New Game</button>
            <button (click) = "stopContinueSpiel()" type='button' class='mitPlatz'>{{stopContinueButtonText}}</button>
            <button (click) = "zugZurueck()" type='button' class='mitPlatz'>Move Back</button>
           <!--  <button (click) ='loescheSpielfeld()' type='button'>Delete</button> -->
    </div>
    <div class="abstand-oben mittig">
      <textarea [(ngModel)]='logTextField' rows='1' #logarea class="mittig" > </textarea>


    </div>
    <canvas #canvas  class="MuehleCanvas" ></canvas>




